.page {
  max-width: 1280px;
  box-sizing: border-box;
  background-color: #2a2c2f;
  color: #fff;
  margin: 0 auto 0 auto;
  padding: 0;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
