.lead__title {
  max-width: 720px;
  text-align: center;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  margin: 0 auto 32px auto;
  padding: 0;
}

@media screen and (max-width: 760px) {
  .lead__title {
    font-size: 60px;
    line-height: 64px;
    margin: 0 auto 16px auto;
    padding: 0 16px;
  }
} 

@media screen and (max-width: 620px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
} 