.galery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(283px, 1fr));
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 16px;
}

@media screen and (max-width: 1200px) {
  .galery {
    gap: 14px;
  }
}

@media screen and (max-width: 920px) {
  .galery {
    gap: 16px;
  }
}

@media screen and (max-width: 620px) {
  .galery {
    gap: 12px;
  }
}