.cover {
  max-width: 1280px;
  height: 100%;
  position: relative;
  object-fit: contain;
  margin: 92px auto 0 auto;
  padding: 0 48px;
}

@media screen and (max-width: 1100px) {
  .cover {
    padding: 0;
  }
}

@media screen and (max-width: 920px) {
  .cover {
    margin: 88px auto 0 auto;
  }
}

@media screen and (max-width: 580px) {
  .cover {
    margin: 66px auto 0 auto;
  }
}