.header__language-item {
  color: #FFF;
  font-size: 24px;
  line-height: 28px;
  text-decoration-line: none;
  margin: 0 18px 0 0;
  padding: 0;
}

.header__language-item:last-child {
  margin: 0;
}

.header__language-item:hover {
  transition: 0.5s;
  opacity: 0.6;
}

@media screen and (max-width:760px) {
  .header__language-item {
    font-size: 18px;
    line-height: 20px;
  }
} 